<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.earlypregnancy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.example.earlypregnancy.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.DisclaimerActivity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.SelectModelActivity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.PulM6Activity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.ViabilityActivity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.ResultActivity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.PulM6ResultActivity" >
        </activity>
        <activity android:name="com.example.earlypregnancy.activities.ViabilityResultActivity" >
        </activity>
    </application>

</manifest>